- hosts: all
  become: true
  tasks:
    - name: Install pip
      apt: name=python-pip state=present
    - name: install docker-py package
      pip: name=docker-py

    - name: Stop a container
      docker_container:
        name: resume
        state: stopped
    
    - name: Remove a container
      docker_container:
        name: resume
        state: absent

    - name: pull an image
      docker_image:
        name: apoorv0692/resume:latest
        source: pull

    - name: Create a container
      docker_container:
        name: resume
        image: apoorv0692/resume:latest

    - name: Running the container
      docker_container:
        name: myapplication
        image: apoorv0692/resume:latest
        pull: yes
        ports:
        - "80:80"
        - "443:443"
        state: present
            
    - name: Check if container is running
      shell: docker ps